<div class="my-container theme-showcase" role="main">
	<div class="my-jumbotron">
		<table class="table table-striped" style="width:100%;text-align: center;">
			<tr>
				<td colspan="3" style=""><h3>Library Manager</h3></td>
			</tr>
	    	<tr>
	    		<td><h4><%= link_to 'Manage Students', students_path %></h4></td>
	    		<td><h4><%= link_to 'Manage Books', books_path %></h4></td>
	    		<td><h4><%= link_to 'Manage Borrowings', borrowings_path %></h4></td>
	    	</tr>
		</table>
	</div>
</div>